<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title></title>
	<link href="../css/public.css" rel="stylesheet"/>
	<link href="../css/user-manage-control.css" rel="stylesheet"/>
	<link href="../css/font-awesome.min.css" rel="stylesheet" />
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script src="../js/worker/detail.js"></script>
</head>
<body>
<input type="hidden" id="workerId" th:value="${workerId}" />
<input type="hidden" id="createUserName" th:value="${createUserName}" />
<input type="hidden" id="current_rem" th:value="${current}"/>
<input type="hidden" id="workerName_rem" th:value="${workerName}"/>
<input type="hidden" id="telephone_rem" th:value="${telephone}"/>
<input type="hidden" id="idcard_rem" th:value="${idcard}"/>
<input type="hidden" id="firstId_rem" th:value="${firstId}"/>
<input type="hidden" id="secondId_rem" th:value="${secondId}"/>
<input type="hidden" id="createUser_rem" th:value="${createUser}"/>
<input type="hidden" id="source_rem" th:value="${source}"/>
<input type="hidden" id="company_rem" th:value="${company}"/>
<input type="hidden" id="beginTime_rem" th:value="${beginTime}"/>
<input type="hidden" id="endTime_rem" th:value="${endTime}"/>
<input type="hidden" id="minAge_rem" th:value="${minAge}"/>
<input type="hidden" id="maxAge_rem" th:value="${maxAge}"/>
<input type="hidden" id="sex_rem" th:value="${sex}"/>
<input type="hidden" id="degree_rem" th:value="${degree}"/>
<input type="hidden" id="expectSalary_rem" th:value="${expectSalary}"/>
<input type="hidden" id="workYear_rem" th:value="${workYear}"/>
<input type="hidden" id="discipline_rem" th:value="${discipline}"/>
<input type="hidden" id="workStatus_rem" th:value="${workStatus}"/>
<input type="hidden" id="agent_rem" th:value="${agent}"/>
	<div id="content">
		<div id="content-nav">
			<span class="name">详情</span>
			<span class="control public-small-bottom" id="back">  <i class="fa  fa-arrow-circle-left"></i> 返回</span>
			<span class="control public-small-bottom" id="exportResume"> <i class="fa  fa-cloud-download"></i>导出简历</span>
		</div>
		<div id="content-area">
			<div id="user-manage-control">
				<div class="party1 clearFix">
					<div class="base-info">
						<div class="inut-b">
							<span class="name">姓名</span>
							<div class="inputValue" id="name"></div>
						</div>
						<div class="inut-b">
							<span class="name">性别</span>
							<div class="inputValue" id="sex"></div>
						</div>
						<div class="inut-b">
							<span class="name">手机号</span>
							<div class="inputValue" id="telephone"></div>
						</div>
						
						<div class="inut-b">
							<span class="name">身份证号</span>
							<div class="inputValue" id="idcard"></div>
						</div>
						<div class="inut-b">
							<span class="name">邮箱</span>
							<div class="inputValue" id="email"></div>
						</div>
						<div class="inut-b">
							<span class="name">婚姻状况</span>
							<div class="inputValue" id="maritalStatus"></div>
						</div>
						<div class="inut-b">
							<span class="name">出生日期</span>
							<div class="inputValue" id="birthday"></div>
						</div>
						<div class="inut-b">
							<span class="name">年龄</span>
							<div class="inputValue" id="age"></div>
						</div>
						<div class="inut-b">
							<span class="name">籍贯</span>
							<div class="inputValue" id="birthplace"></div>
						</div>
						<div class="inut-b">
							<span class="name">工作地区</span>
							<div class="inputValue" id="workplace"></div>
						</div>
						<div class="inut-b">
							<span class="name">语言能力</span>
							<div class="inputValue" id="languageLevel"></div>
						</div>
						<div class="inut-b">
							<span class="name">是否接受夜班</span>
							<div class="inputValue" id="nightWork"></div>
						</div>
						<div class="inut-b">
							<span class="name">开户行</span>
							<div class="inputValue" id="bank"></div>
						</div>
						<div class="inut-b">
							<span class="name">银行卡号</span>
							<div class="inputValue" id="bankAccount"></div>
						</div>
						<div class="inut-b">
							<span class="name">代理人</span>
							<div class="inputValue" id="agent"></div>
						</div>
						
					</div>
					<div class="base-info">
						<div class="inut-b">
							<span class="name">学历</span>
							<div class="inputValue" id="current_degree"></div>
						</div>
						<div class="inut-b">
							<span class="name">民族</span>
							<div class="inputValue" id="nation"></div>
						</div>
						<div class="inut-b">
							<span class="name">职称</span>
							<div class="inputValue" id="title"></div>
						</div>
						<div class="inut-b">
							<span class="name">期望职位</span>
							<div class="inputValue" id="position"></div>
						</div>
						<div class="inut-b">
							<span class="name">工作年限</span>
							<div class="inputValue" id="workYear"></div>
						</div>
						<div class="inut-b">
							<span class="name">擅长工种</span>
							<div class="inputValue" id="jobtype"></div>
						</div>
						<div class="inut-b">
							<span class="name">通讯地址</span>
							<div class="inputValue" id="address"></div>
						</div>
						<div class="inut-b">
							<span class="name">期望薪资</span>
							<div class="inputValue" id="expectSalary"></div>
						</div>
						<div class="inut-b">
							<span class="name">工作状态</span>
							<div class="inputValue" id="workStatus"></div>
						</div>
						
						<div class="jianjie">
							<span class="name">工作意向</span>
							<div class="textarea" id="workExpect" style="color:rgb(136, 136, 136);"></div>
						</div>
						<div class="jianjie">
							<span class="name">个人简介</span>
							<div class="textarea" id="profile" style="color:rgb(136, 136, 136);"></div>
						</div>
						<div class="jianjie">
							<span class="name">备注</span>
							<div class="textarea" id="description" style="color:rgb(136, 136, 136);"></div>
						</div>
					</div>
					
				</div>

				<div class="party2" id="education-list">
					<div class="nav-tip">
						<sapn class="name">学历</sapn>
					</div>
				</div>
				<div class="party2" id="experience-list">
					<div class="nav-tip">
						<sapn class="name">工作经历</sapn>
					</div>
				</div>
				<div class="recod-info">
					<span id="createUser"></span>
					<span id="createTime"></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>