#already-qiandan-user-list .a-m-nav {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #cccccc;
  padding: 0px 20px;
  margin-bottom: 15px; }

#already-qiandan-user-list .qiandan-add-content {
  padding: 0px 20px; }
  #already-qiandan-user-list .qiandan-add-content .table-area table {
    width: 100%;
    border-collapse: collapse; }
    #already-qiandan-user-list .qiandan-add-content .table-area table tr th {
      text-align: center;
      height: 40px;
      font-weight: normal;
      border: 1px solid #e2e2e2;
      font-size: 14px; }
    #already-qiandan-user-list .qiandan-add-content .table-area table tr td {
      text-align: center;
      height: 40px;
      font-weight: normal;
      border: 1px solid #e2e2e2;
      font-size: 12px; }
      #already-qiandan-user-list .qiandan-add-content .table-area table tr td .delete, #already-qiandan-user-list .qiandan-add-content .table-area table tr td .des, #already-qiandan-user-list .qiandan-add-content .table-area table tr td .jiedan {
        margin: 0px 5px;
        cursor: pointer;
        color: #5595d6; }
