#chengyuan-manage-box1 .mask {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5; }

#chengyuan-manage-box1 .box-content {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  width: 500px;
  height: 230px;
  margin-top: -115px;
  margin-left: -250px;
  border-radius: 10px; }
  #chengyuan-manage-box1 .box-content .head {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #cccccc;
    padding: 0px 20px; }
    #chengyuan-manage-box1 .box-content .head .fa-close {
      float: right;
      margin-top: 10px;
      cursor: pointer; }
  #chengyuan-manage-box1 .box-content .middle {
    padding: 20px;
    height: 50px;
    overflow: auto; }
    #chengyuan-manage-box1 .box-content .middle .input-block {
      min-height: 40px;
      line-height: 40px; }
      #chengyuan-manage-box1 .box-content .middle .input-block .name {
        margin-right: 20px; }
        #chengyuan-manage-box1 .box-content .middle .input-block .name.t {
          vertical-align: top; }
      #chengyuan-manage-box1 .box-content .middle .input-block .pt {
        height: 40px;
        width: 280px;
        background-color: #eeeeee;
         }
  #chengyuan-manage-box1 .box-content .bottom {
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-top: 1px solid #cccccc; }
    #chengyuan-manage-box1 .box-content .bottom span {
      margin: 0px 20px; }

/* #user-manage-box2 .mask {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5; }

#user-manage-box2 .box2-content {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  width: 500px;
  height: 400px;
  margin-top: -200px;
  margin-left: -250px;
  border-radius: 10px; }
  #user-manage-box2 .box2-content .head {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #cccccc;
    padding: 0px 20px; }
    #user-manage-box2 .box2-content .head .fa-close {
      float: right;
      margin-top: 10px;
      cursor: pointer; }
  #user-manage-box2 .box2-content .middle {
    padding: 20px 20px 0px 20px;
    height: 240px;
    overflow: auto; }
    #user-manage-box2 .box2-content .middle .input-block {
      min-height: 40px;
      line-height: 40px;
      margin-bottom: 10px; }
      #user-manage-box2 .box2-content .middle .input-block .name {
        margin-right: 20px; }
      #user-manage-box2 .box2-content .middle .input-block .select {
        height: 40px;
        width: 280px; }
      #user-manage-box2 .box2-content .middle .input-block .pt {
        height: 40px;
        width: 280px;
        background-color: #eeeeee;
        text-indent: 10px; }
      #user-manage-box2 .box2-content .middle .input-block .time {
        width: 120px;
        height: 40px;
        background-color: #eeeeee;
        text-indent: 10px; }
      #user-manage-box2 .box2-content .middle .input-block .line {
        width: 10px;
        height: 2px;
        background-color: #cccccc;
        margin: 0px 10px;
        vertical-align: middle;
        display: inline-block; }
  #user-manage-box2 .box2-content .bottom {
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-top: 1px solid #cccccc; }
    #user-manage-box2 .box2-content .bottom span {
      margin: 0px 20px; }

#user-manage-box3 .mask {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5; }

#user-manage-box3 .box-content {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  width: 500px;
  height: 440px;
  margin-top: -220px;
  margin-left: -250px;
  border-radius: 10px; }
  #user-manage-box3 .box-content .head {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #cccccc;
    padding: 0px 20px; }
    #user-manage-box3 .box-content .head .fa-close {
      float: right;
      margin-top: 10px;
      cursor: pointer; }
  #user-manage-box3 .box-content .middle {
    padding: 20px 20px 0px;
    height: 280px;
    overflow: auto; }
    #user-manage-box3 .box-content .middle .input-block {
      min-height: 40px;
      line-height: 40px;
      margin-bottom: 10px; }
      #user-manage-box3 .box-content .middle .input-block .name {
        margin-right: 20px; }
        #user-manage-box3 .box-content .middle .input-block .name.t {
          vertical-align: top; }
      #user-manage-box3 .box-content .middle .input-block .pt {
        height: 40px;
        width: 280px;
        background-color: #eeeeee;
        text-indent: 10px; }
      #user-manage-box3 .box-content .middle .input-block .time {
        width: 120px;
        height: 40px;
        background-color: #eeeeee;
        text-indent: 10px; }
      #user-manage-box3 .box-content .middle .input-block .line {
        width: 10px;
        height: 2px;
        background-color: #cccccc;
        margin: 0px 10px;
        vertical-align: middle;
        display: inline-block; }
      #user-manage-box3 .box-content .middle .input-block .workText {
        text-indent: 10px;
        resize: none;
        width: 370px;
        height: 100px;
        background-color: #eeeeee;
        overflow: auto;
        text-align: left;
        line-height: 20px;
        border: none; }
  #user-manage-box3 .box-content .bottom {
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-top: 1px solid #cccccc; }
    #user-manage-box3 .box-content .bottom span {
      margin: 0px 20px; } */
