#qiandan-manage-box3 .mask {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5; }

#qiandan-manage-box3 .box-content {
  position: fixed;
  left: 50%;
  top: 30px;
  background-color: #ffffff;
  width: 500px;
  margin-left: -250px;
  border-radius: 10px; }
  #qiandan-manage-box3 .box-content .head {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #cccccc;
    padding: 0px 20px; }
    #qiandan-manage-box3 .box-content .head .title {
      font-weight: bold; }
    #qiandan-manage-box3 .box-content .head .fa-close {
      float: right;
      margin-top: 10px;
      cursor: pointer; }
  #qiandan-manage-box3 .box-content .middle {
    padding: 20px; }
    #qiandan-manage-box3 .box-content .middle .input-block {
      min-height: 40px;
      margin-bottom: 10px;
      font-size: 0px; }
      #qiandan-manage-box3 .box-content .middle .input-block .name {
        display: inline-block;
        width: 65px;
        line-height: 40px;
        margin-right: 20px;
        font-size: 12px;
        vertical-align: top; }
      #qiandan-manage-box3 .box-content .middle .input-block .pt {
        font-size: 12px;
        height: 40px;
        width: 280px;
        background-color: #eeeeee;
        border: none; }
      #qiandan-manage-box3 .box-content .middle .input-block .textArea {
        vertical-align: top;
        width: 280px;
        line-height: 40px;
        height: 100px;
        resize: none;
        background-color: #eeeeee; }
  #qiandan-manage-box3 .box-content .bottom {
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-top: 1px solid #cccccc; }
    #qiandan-manage-box3 .box-content .bottom span {
      margin: 0px 20px; }
