<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>欢迎国文人力</title>
<link href="css/user-manage-box3.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<link href="css/public.css" rel="stylesheet" />
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/welcome.js"></script>
<style>
	body{
		/* background-color: white; */
	}
	button{
		border: 1px solid #409eff;
		background-color: #409eff;
		color: #fff;
		border-radius: 5px;
		cursor: pointer;
		height: 40px;
		width:150px;
		margin-top: 50px;
		margin-left: 300px;
	}
	p{
		color: #4caf50;
		font-size: 20px;
		font-style: italic;
		margin-top: 20px;
		padding-left: 40px;
	}
</style>
</head>
<body>
<div>
	<p>欢迎光临！</p>
	<!-- <button id="downloadAndroid">下载安卓安装包</button> -->
</div>

</body>
</html>
